In [73]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

Input the data

In [4]:
music_input=pd.read_csv('music_interest.csv')
music_input

    age  gender     musictype
0    20       1          folk
1    23       1          folk
2    25       1          folk
3    26       1  cineslowbeat
4    29       1  cineslowbeat
5    30       1  cineslowbeat
6    31       1     classical
7    33       1     Classical
8    37       1     Classical
9    20       0      fastbeat
10   21       0      fastbeat
11   25       0      fastbeat
12   26       0          folk
13   27       0          folk
14   30       0          folk
15   31       0  cineslowbeat
16   34       0  cineslowbeat
17   35       0  cineslowbeat

Clean the data  -The input dataset looks good. We don't need any cleanup

Split the data into Feature & Label

In [8]:
X=music_input[['age','gender']]
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [9]:
y=music_input['musictype']
y

0             folk
1             folk
2             folk
3     cineslowbeat
4     cineslowbeat
5     cineslowbeat
6        classical
7        Classical
8        Classical
9         fastbeat
10        fastbeat
11        fastbeat
12            folk
13            folk
14            folk
15    cineslowbeat
16    cineslowbeat
17    cineslowbeat
Name: musictype, dtype: object

Train Test split

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

Train the  models and predict the output

In [67]:
DT_model=DecisionTreeClassifier()
DT_model.fit(X_train,y_train)
DT_predict=DT_model.predict(X_test)
DT_predict

array(['fastbeat', 'folk', 'folk', 'cineslowbeat'], dtype=object)

In [ ]:
find the accuracy

In [71]:
DT_score=accuracy_score(y_test,DT_predict)
DT_score

1.0

In [72]:
DT_prediction=DT_model.predict([[24,1],[32,1],[28,0],[32,0]])
DT_prediction

array(['folk', 'classical', 'folk', 'cineslowbeat'], dtype=object)